<footer>
  <a
    href="https://github.com/grntco/inventory-application"
    target="_blank"
    rel="noopenner norefferer"
    class="attribution"
  >
    <span>Made by Grant Collins</span>
    <img src="/images/github-mark-white.png" alt="GitHub octocat logo" />
  </a>
</footer>
