<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <form
      action="/categories/<%= category ? `${category.id}/update` : 'new'%>"
      method="POST"
    >
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        value="<%= category?.name ?? '' %>"
      />
      <!-- <input
        type="text"
        name="description"
        id="description"
        placeholder="Description"
      /> -->
      <button type="submit">Create</button>
    </form>
  </body>
</html>
