* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #fde047;
  --red: rgb(220, 38, 38);
  --blue: rgb(59, 130, 246);
  --blue-opaque: rgb(59, 130, 246, 0.5);
  --orange: #fb923c;
  --white: #fafafa;
  --light-grey: #d4d4d4;
  --dark-grey: #404040;
  --black: #0a0a0a;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--black);
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 1.8rem;
}

.banner {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background-color: var(--blue);
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background-color: var(--yellow);
}

.nav-logo {
  height: 64px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
}

.nav-links a:hover {
  color: var(--dark-grey);
}

main {
  flex-grow: 1;
}

.section {
  padding: 96px 48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px 48px;
}

.column .item-image {
  max-width: 100%;
  height: 480px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #fff;
}

.column .item-image:hover {
}

.item-image-link {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.item-image-link:hover {
  background-color: var(--blue-opaque);
  cursor: pointer;
}

.item-image-link > :first-child {
  display: none;
}

.item-image-link:hover > :first-child {
  display: block;
  /* z-index: 1; */
}

/* .item-image-link-text.hidden {
  display: none;
} */

.section .btns-container {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.btn-link {
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 2px solid;
  cursor: pointer;
}

.btn-link.orange {
  border-color: var(--orange);
  background-color: var(--orange);
  color: var(--dark-grey);
}

.btn-link.blue {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--white);
}

.btn-link.white {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--blue);
}

.btn-link.orange:hover,
.btn-link.blue:hover {
  background-color: transparent;
}
