* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #fde047;
  --red: #dc2626;
  --blue: #3b82f6;
  --orange: #fb923c;
  --white: #fafafa;
  --light-grey: #d4d4d4;
  --dark-grey: #404040;
  --black: #0a0a0a;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--black);
  min-height: 100vh;
}

.banner {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1.2rem;
  letter-spacing: 0.05rem;
  background-color: var(--blue);
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background-color: var(--yellow);
}

.nav-logo {
  height: 64px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
}

.nav-links a:hover {
  color: var(--dark-grey);
}

main {
  flex-grow: 1;
  /* height: 100%; */
}

.hero-section {
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px 48px;
}

.hero-image {
  max-width: 100%;
}

.hero-section .btns-container {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.btn-link {
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 2px solid var(--orange);
  background-color: var(--orange);
  color: var(--dark-grey);
}

.btn-link:hover {
  background-color: transparent;
}
